@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    background: linear-gradient(#87ceeb, #bde0ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pokedex {
    width: 350px;
    height: 526px;
    background-image: url("../images/pokedex.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.screen-container {
    position: absolute;
    top: 114px;
    left: 45%;
    transform: translateX(-50%);
    height: 210px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.screen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 25px;
    justify-content: center;
    width: 208px;
    height: 140px;
}

.sprite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sprite img {
    object-fit: contain;
    display: block;
}

#pokemon-name {
    text-align: right;
    margin-top: 5%;
    margin-right: 7%;
    font-weight: 600;
    color: #b5b5b5;
    white-space: nowrap;
}

#pokemon-name span {
    color: #424242;
}

#search {
    position: relative;
    top: 350px;
    left: 41px;
    width: 240px;
    height: 44px;
    background: #f2f2f2;
    border: 2px solid #1c1c1c;
    border-radius: 4px;
    padding: 9px 12px 7px;
    font-size: 16px;
    box-shadow: -3px 3px 0 #b5b5b5;
    box-sizing: border-box;
    user-select: none;
}

#search:focus {
    outline: none;
}

.buttons {
    position: absolute;
    bottom: 50px;
    left: 40px;
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 100px;
    height: 36px;
    background: #424242;
    color: white;
    border: 1px solid #000;
    border-radius: 3px;
    font-family: 'Oxanium', cursive;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    box-shadow: -3px 3px 0 #1c1c1c;
}

.buttons button:hover {
    background: rgb(79, 79, 79);
}

.buttons button:active {
    transform: translateY(2px);
    box-shadow: 1px -3px 0 #1c1c1c;
}
